@page "/"
@page "/Home"

<PageTitle>Grad Student Database</PageTitle>

<h1>Grad Student Database</h1>

<p>Welcome to the Grad Student Database app! Here's what you can do:</p>

<ul>
    <li><strong>Create users:</strong> Sign up as a student or faculty. Admin creation is manual in sql.</li>
    <li><strong>View student documents / Upload documents:</strong> Students can upload their own documents. Faculty can upload documents for students.</li>
    <li><strong>Generate codes:</strong> Students can generate approval codes for their records.</li>
    <li><strong>View codes and approve/disapprove:</strong> Faculty can approve or disapprove student codes.</li>
    <li><strong>View and delete users:</strong> Admins can view all users and delete accounts.</li>
</ul>

<a href="https://github.com/OutrightWings/database_final">Github link</a>